version: '3'

services:
  traefik:
    image: traefik:{{ traefik_version }}
    container_name: traefik
    restart: always
    networks:
      - traefik-net
    ports:
      - "{{ traefik_http_port }}:{{ traefik_http_port }}"
      - "{{ traefik_https_port }}:{{ traefik_https_port }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - {{ traefik_config_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
      - {{ traefik_config_dir }}/dynamic:/etc/traefik/dynamic:ro
      - {{ traefik_config_dir }}/acme:/etc/traefik/acme
    labels:
      - "traefik.enable=true"
{% if traefik_api_dashboard %}
      - "traefik.http.routers.dashboard.rule=Host(`traefik.{{ traefik_domain }}`)"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.entrypoints=websecure"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users=admin:{{ password_hash }}"
      {% endif %}

networks:
  traefik-net:
    name: {{ traefik_network_name }}
    external: false
